{% extends "foot5x5MainBundle::layout.html.twig" %}
{% set adminMenu = true %}

{% block title %}Administration{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}
{% for flashMessage in app.session.flashbag.get('warning') %}
<div class="alert alert-warning">
    {{ flashMessage }}
</div>
{% endfor %}
<div class="row">
    <div class="col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        <ul class="nav nav-tabs nav-justified">
            <li {% if activeTab == 'results' %}class="active"{% endif %}><a href="#admin-results-panel" data-toggle="tab">Résultats</a></li>
            <li {% if activeTab == 'standings' %}class="active"{% endif %}><a href="#admin-standings-panel" data-toggle="tab">Classements</a></li>
            <li {% if activeTab == 'players' %}class="active"{% endif %}><a href="#admin-players-panel" data-toggle="tab">Joueurs</a></li>
            <li {% if activeTab == 'users' %}class="active"{% endif %}><a href="#admin-users-panel" data-toggle="tab">Users</a></li>
            <li {% if activeTab == 'finance' %}class="active"{% endif %}><a href="#admin-finances-panel" data-toggle="tab">Finances</a></li>
        </ul>
    </div>
</div>
<div class="tab-content">
    
    {% if activeTab == 'results' %}
    <div class="tab-pane fade in active admin-panel" id="admin-results-panel">
    {% else %}
    <div class="tab-pane fade admin-panel" id="admin-results-panel">
    {% endif %}
        {% if trimesterForm is defined %}
        <div id="admin-results-form" class="well col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
            {{ form_start(trimesterForm, { 'attr': {'class': 'form-horizontal'} }) }}
            <div class="form-group">
                {{ form_label(trimesterForm.stdCombo, null, { 'label_attr':  {
                    'class': 'col-sm-3 col-md-3 control-label'
                }}) }}
                <div class="col-sm-4 col-md-4">
                    {{ form_errors(trimesterForm.stdCombo) }}
                    {{ form_widget(trimesterForm.stdCombo, { 'attr':  {
                        'class': 'form-control'
                    }}) }}
                </div>
                <div class="col-sm-3 col-md-3">
                    <input type="submit" class="btn btn-primary dark-blue-grad" value="Afficher" />
                </div>
            </div>
            {{ form_end(trimesterForm) }}
        </div>
        {% endif %}
        <div class="admin-button-new col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
            <a href="{{ path('add_match') }}" class="btn btn-primary dark-blue-grad"><span class="glyphicon glyphicon-plus"></span> Nouveau match</a>
        </div>
        <div class="admin-table table-responsive col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
        {% if results %}
            <table class="table table-hover table-condensed">
                <thead class="bg-primary dark-blue-grad">
                    <tr>
                        {#<th colspan="5">Liste des matchs du T0{{ currentTrimester }} {{ currentYear }}</th>#}
                        <th class="col-md-1">N°Match</th>
                        <th class="col-md-2">Date</th>
                        <th class="col-md-2 admin-right-column"></th>
                        <th class="col-md-1 admin-center-column">Score</th>
                        <th class="col-md-2"></th>
                        <th class="col-md-2 admin-center-column">Edit/Delete</th>
                    </tr>
                </thead>
                <tbody>
                    {% for result in results %}
                    <tr>
                        <td class="col-md-1 admin-text-strong">M{{ "%02d"|format(result.num) }}</td>
                        <td class="col-md-2">{{ result.date|date('d/m/Y') }}</td>
                        <td class="col-md-2 admin-right-column">EQUIPE A</td>
                        <td class="col-md-1 admin-center-column">{{ result.scoreTeamA }}-{{ result.scoreTeamB }}</td>
                        <td class="col-md-2">EQUIPE B</td>
                        <td class="col-md-2 admin-center-column">
                            <a href="{{ path('edit_match', {'id':result.id}) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                            <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#resultDialog_{{ result.id }}"><span class="glyphicon glyphicon-remove"></span>
                            </button>
                            <div class="modal fade" id="resultDialog_{{ result.id }}" tabindex="-1" role="dialog" aria-labelledby="resModalLabel_{{ result.id }}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                            <h4 class="modal-title" id="resModalLabel_{{ result.id }}">Confirmation suppression match</h4>
                                        </div>
                                        <div class="modal-body">
                                            Veux-tu vraiment supprimer le match du {{ result.date|date('d/m/Y') }} ?
                                        </div>
                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                            <a href="{{ path('delete_match', {'id':result.id}) }}" class="btn btn-danger">Supprimer</a>
                                        </div>
                                    </div><!-- /.modal-content -->
                                </div><!-- /.modal-dialog -->
                            </div><!-- /.modal -->
                        </td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>
        {% else %}
            <div class="alert alert-warning">Aucun résultat trouvé pour le trimestre T0{{ currentTrimester }} {{ currentYear }}</div>
        {% endif %}
        </div>
    </div>

    {% if activeTab == 'standings' %}
    <div class="tab-pane fade in active admin-panel" id="admin-standings-panel">
    {% else %}
    <div class="tab-pane fade admin-panel" id="admin-standings-panel">
    {% endif %}
        <div class="admin-table table-responsive col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3">
        {% if standings %}
            <table class="table table-hover table-condensed">
                <thead class="bg-primary dark-blue-grad">
                    <tr>
                        <th class="col-md-4 admin-left-column">Classement</th>
                        <th class="col-md-2 admin-center-column">Calculer</th>
                    </tr>
                </thead>
                {% for standing in standings %}
                <tr>
                    <td class="col-md-4 admin-left-column admin-text-strong admin-text-uppercase">{{ standing.trimName }} {{ standing.year }}</td>
                    <td class="col-md-2 admin-center-column">
                        <a href="{{ path('calc_standing', {'id':standing.id}) }}" class="btn btn-info btn-xs" title="Calculer"><span class="glyphicon glyphicon-refresh"></span></a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
        	<div class="alert alert-warning">Aucun classement trouvé.</div>
        {% endif %}
        </div>
    </div>

    {% if activeTab == 'players' %}
    <div class="tab-pane fade in active admin-panel" id="admin-players-panel">
    {% else %}
    <div class="tab-pane fade admin-panel" id="admin-players-panel">
    {% endif %}
        <div class="admin-button-new col-md-8 col-md-offset-2">
            <a href="{{ path('add_player') }}" class="btn btn-primary dark-blue-grad"><span class="glyphicon glyphicon-plus"></span> Nouveau joueur</a>
        </div>
        <div class="admin-table table-responsive col-md-8 col-md-offset-2">
        {% if players %}
            <table class="table table-hover table-condensed">
                <thead class="bg-primary dark-blue-grad">
                    <tr>
                        <th class="col-md-2 admin-left-column">Nom</th>
                        <th class="col-md-1 admin-center-column">Att</th>
                        <th class="col-md-1 admin-center-column">Def</th>
                        <th class="col-md-1 admin-center-column">Phy</th>
                        <th class="col-md-1 admin-center-column">Moy</th>
                        <th class="col-md-1 admin-center-column">Nb Eval</th>
                        <th class="col-md-2 admin-center-column">Edit/Delete</th>
                        <th class="col-md-2 admin-center-column">+/- {{ community.matchPrice }}€</th>
                    </tr>
                </thead>
                {% for player in players %}
                <tr>
                    <td class="col-md-2 admin-left-column admin-text-strong admin-text-uppercase">{{ player.name }}</td>
                    <td class="col-md-1 admin-center-column">{{ player.valAtt|number_format(1, '.') }}</td>
                    <td class="col-md-1 admin-center-column">{{ player.valDef|number_format(1, '.') }}</td>
                    <td class="col-md-1 admin-center-column">{{ player.valPhy|number_format(1, '.') }}</td>
                    <td class="col-md-1 admin-center-column admin-text-hi">{{ player.valAvg|number_format(1, '.') }}</td>
                    <td class="col-md-1 admin-center-column">{{ player.notes|length }}</td>
                    <td class="col-md-2 admin-center-column">
                        <a href="{{ path('edit_player', {'id':player.id}) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                        <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#playerDialog_{{ player.id }}"><span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <div class="modal fade" id="playerDialog_{{ player.id }}" tabindex="-1" role="dialog" aria-labelledby="plrModalLabel_{{ player.id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="plrModalLabel_{{ player.id }}">Confirmation suppression joueur</h4>
                                    </div>
                                    <div class="modal-body">
                                        Veux-tu vraiment supprimer le joueur {{ player.name }} ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                        <a href="{{ path('delete_player', {'id':player.id}) }}" class="btn btn-danger">Supprimer</a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </td>
                    <td class="col-md-2 admin-center-column">
                        <a href="{{ path('update_player_balance', {'id':player.id, 'operation':'credit'}) }}" class="btn btn-success btn-xs" title="Avoir de {{ community.matchPrice }}€"><span class="glyphicon glyphicon-plus"></span></a>
                        <a href="{{ path('update_player_balance', {'id':player.id, 'operation':'debit'}) }}" class="btn btn-warning btn-xs" title="Dette de {{ community.matchPrice }}€"><span class="glyphicon glyphicon-minus"></span></a>
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
        	<div class="alert alert-warning">Aucun joueur trouvé.</div>
        {% endif %}
        </div>
    </div>

    {% if activeTab == 'users' %}
    <div class="tab-pane fade in active admin-panel" id="admin-users-panel">
    {% else %}
    <div class="tab-pane fade admin-panel" id="admin-users-panel">
    {% endif %}
        <div class="admin-table table-responsive col-lg-8 col-lg-offset-2">
        {% if users %}
            <table class="table table-hover table-condensed">
                <thead class="bg-primary dark-blue-grad">
                    <tr>
                        <th class="col-md-2 admin-left-column">Username</th>
                        <th class="col-md-2 admin-left-column">Role</th>
                        <th class="col-md-2 admin-left-column">Joueur</th>
                        <th class="col-md-2 admin-left-column">Email</th>
                        <th class="col-md-2 admin-center-column">Edit/Delete</th>
                    </tr>
                </thead>
                {% for user in users %}
                <tr>
                    <td class="col-md-2 admin-left-column admin-text-strong">{{ user.user.username }}</td>
                    <td class="col-md-2 admin-left-column admin-text-hi">
                        {% if user.role == 'ROLE_ADMIN' %}Admin
                        {% elseif user.role == 'ROLE_EVALUATOR' %}Evaluateur
                        {% else %} Joueur
                        {% endif %}
                    </td>
                    <td class="col-md-2 admin-left-column">{% if user.player.name is defined %}{{ user.player.name }}{% endif %}</td>
                    <td class="col-md-2 admin-left-column admin-text-ellipsis">{{ user.user.email }}</td>
                    <td class="col-md-2 admin-center-column">
                        <a href="{{ path('edit_user_role', {'id':user.id}) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                        <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#userDialog_{{ user.id }}"><span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <div class="modal fade" id="userDialog_{{ user.id }}" tabindex="-1" role="dialog" aria-labelledby="usrModalLabel_{{ user.id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="usrModalLabel_{{ user.id }}">Confirmation suppression utilisateur</h4>
                                    </div>
                                    <div class="modal-body">
                                        Veux-tu vraiment supprimer le user {{ user.user.username }} de la communauté ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                        <a href="{{ path('delete_user_role', {'id':user.id}) }}" class="btn btn-danger">Supprimer</a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
        	<div class="alert alert-warning">Aucun utilisateur trouvé.</div>
        {% endif %}
        </div>
    </div>

    {% if activeTab == 'finance' %}
    <div class="tab-pane fade in active admin-panel" id="admin-finances-panel">
    {% else %}
    <div class="tab-pane fade admin-panel" id="admin-finances-panel">
    {% endif %}
        <div class="admin-button-new col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
            <a href="{{ path('add_transaction') }}" class="btn btn-primary dark-blue-grad"><span class="glyphicon glyphicon-plus"></span> Nouvelle transaction</a>
        </div>
        <div class="admin-table table-responsive col-sm-8 col-sm-offset-2 col-md-8 col-md-offset-2">
        {% if transactions %}
            <table class="table table-hover table-condensed">
                <thead class="bg-primary dark-blue-grad">
                    <tr>
                        <th class="col-md-2 admin-left-column">Date</th>
                        <th class="col-md-2 admin-left-column">Donneur</th>
                        <th class="col-md-2 admin-left-column">Receveur</th>
                        <th class="col-md-1 admin-center-column">Montant</th>
                        <th class="col-md-2 admin-center-column">Edit/Delete</th>
                    </tr>
                </thead>
                {% for tran in transactions %}
                <tr>
                    <td class="col-md-2 admin-left-column admin-text-hi">{{ tran.date|date('d/m/Y') }}</td>
                    <td class="col-md-2 admin-left-column">{{ tran.giver.name }}</td>
                    <td class="col-md-2 admin-left-column">{{ tran.receiver.name }}</td>
                    <td class="col-md-1 admin-center-column admin-text-strong">{{ tran.amount }} €</td>
                    <td class="col-md-2 admin-center-column">
                        <a href="{{ path('edit_transaction', {'id':tran.id}) }}" class="btn btn-info btn-xs" title="Edit"><span class="glyphicon glyphicon-edit"></span></a>
                        <button type="button" class="btn btn-danger btn-xs" title="Delete" data-toggle="modal" data-target="#tranDialog_{{ tran.id }}"><span class="glyphicon glyphicon-remove"></span>
                        </button>
                        <div class="modal fade" id="tranDialog_{{ tran.id }}" tabindex="-1" role="dialog" aria-labelledby="trnModalLabel_{{ tran.id }}" aria-hidden="true">
                            <div class="modal-dialog">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                                        <h4 class="modal-title" id="trnModalLabel_{{ tran.id }}">Confirmation suppression transaction</h4>
                                    </div>
                                    <div class="modal-body">
                                        Veux-tu vraiment supprimer la transaction de {{ tran.amount }}€ entre {{ tran.giver.name }} et {{ tran.receiver.name }} ?
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-default" data-dismiss="modal">Annuler</button>
                                        <a href="{{ path('delete_transaction', {'id':tran.id}) }}" class="btn btn-danger">Supprimer</a>
                                    </div>
                                </div><!-- /.modal-content -->
                            </div><!-- /.modal-dialog -->
                        </div><!-- /.modal -->
                    </td>
                </tr>
                {% endfor %}
            </table>
        {% else %}
        	<div class="alert alert-warning">Aucune transaction trouvée.</div>
        {% endif %}
        </div>
    </div>
</div>
{% endblock %}