{% extends "foot5x5MainBundle::layout.html.twig" %}

{% block title %}Home{% endblock %}

{% block content %}

<div id="results-container" class="col-md-12">
    <div class="col-md-6">
        <h2><span class="label dark-blue-grad">Dernier match</span></h2>
        {% if lastResult is defined %}
        <table id="result-table" class="table table-bordered table-condensed">
            <thead class="dark-blue-grad">
                <tr>
                    <th class="text-center" colspan="5">
                    T0{{ lastResult.trimester }} {{ lastResult.year }} - 
                    {% if lastResult.num|length == 1 %}
                        M0{{ lastResult.num }}
                    {% else %}
                        M{{ lastResult.num }}
                    {% endif %}
                    - {{ lastResult.date|date('d/m/Y') }}
                    </th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td class="col-md-2 result-teamA">
                        <dl>
                        {% for matchPlayer in lastResult.matchPlayers %}
                            {% if matchPlayer.match.id == lastResult.id and matchPlayer.team == "A" %}
                            <a data-popup-open="popup-{{ matchPlayer.player.id }}" href="#">
                                <dt class="well result-matchPlayers" playerid="{{ matchPlayer.player.id }}">
                                {#
                                <img src="{{ asset("bundles/foot5x5main/images/icon-user-default.png") }}" alt="{{ matchPlayer.player.name }}" />
                                #}
                                    {% if matchPlayer.player.user is null %}
                                        <img src="{{ 'uploads/img/profilePic_default.png' | imagine_filter('avatar_40') }}" alt="profilePic_default.png" />
                                    {% else %}
                                        <img src="{{ matchPlayer.player.user.pictureWebPath | imagine_filter('avatar_40') }}" alt="{{ matchPlayer.player.user.profilePicture }}" />
                                    {% endif %}
                                    <span>{{ matchPlayer.player.name }}</span>
                                </dt>
                            </a>
                            {% endif %}
                        {% endfor %}
                        </dl>
                    </td>
                    <td {% if lastResult.scoreTeamA > lastResult.scoreTeamB %} class="col-md-1 result-score result-victory" {% endif %}
                        {% if lastResult.scoreTeamA == lastResult.scoreTeamB %} class="col-md-1 result-score result-draw" {% endif %}
                        {% if lastResult.scoreTeamA < lastResult.scoreTeamB %} class="col-md-1 result-score result-defeat" {% endif %}>
                        {{ lastResult.scoreTeamA }}
                    </td>
                    <td class="col-md-1 result-score">-</td>
                    <td {% if lastResult.scoreTeamA > lastResult.scoreTeamB %} class="col-md-1 result-score result-defeat" {% endif %}
                        {% if lastResult.scoreTeamA == lastResult.scoreTeamB %} class="col-md-1 result-score result-draw" {% endif %}
                        {% if lastResult.scoreTeamA < lastResult.scoreTeamB %} class="col-md-1 result-score result-victory" {% endif %}>
                        {{ lastResult.scoreTeamB }}
                    </td>
                    <td class="col-md-2 result-teamB">
                        <dl>
                        {% for matchPlayer in lastResult.matchPlayers %}
                            {% if matchPlayer.match.id == lastResult.id and matchPlayer.team == "B" %}
                            <a data-popup-open="popup-{{ matchPlayer.player.id }}" href="#">
                                <dt class="well">
                                    <span>{{ matchPlayer.player.name }}</span>
                                    {% if matchPlayer.player.user is null %}
                                        <img src="{{ 'uploads/img/profilePic_default.png' | imagine_filter('avatar_40') }}" alt="profilePic_default.png" />
                                    {% else %}
                                        <img src="{{ matchPlayer.player.user.pictureWebPath | imagine_filter('avatar_40') }}" alt="{{ matchPlayer.player.user.profilePicture }}" />
                                    {% endif %}
                                </dt>
                            </a>
                            {% endif %}
                        {% endfor %}
                        </dl>
                    </td>
                </tr>
            </tbody>
        </table>
        {% else %}
            <div class="alert alert-warning">Aucun match n'a encore été joué.</div>
        {% endif %}
    </div>
</div>
<div id="standing-container" class="col-md-12">
    <div class="col-lg-10 table-responsive">
        <h2><span class="label dark-blue-grad">Classement en cours</span></h2>
        {% if lastStanding.rankings %}
        <table id="standing-table" class="table table-striped table-bordered table-condensed">
            <thead class="dark-blue-grad">
                <tr>
                    <th class="col-md-1 standing-center-column">##</th>
                    <th class="col-md-2 standing-left-column">Nom</th>
                    <th class="col-md-1 standing-center-column">PTS</th>
                    <th class="col-md-1 standing-center-column">MJ</th>
                    <th class="col-md-1 standing-center-column">G</th>
                    <th class="col-md-1 standing-center-column">N</th>
                    <th class="col-md-1 standing-center-column">P</th>
                    <th class="col-md-1 standing-center-column">BP</th>
                    <th class="col-md-1 standing-center-column">BC</th>
                    <th class="col-md-1 standing-center-column">DIFF</th>
                    <th class="col-md-1 standing-center-column">EVAL</th>
                </tr>
            </thead>
            <tbody>
            {% for ranking in lastStanding.rankings %}
                <tr {% if ranking.rank == 1 %} class="standing-first-player"
                    {% elseif ranking.rank > 1 and ranking.rank <= 3 %} class="success"
                    {% elseif ranking.rank > loop.length - 3 and ranking.rank < loop.length %} class="danger"
                    {% elseif ranking.rank == loop.length %} class="standing-last-player"
                    {% else %} class="standing-mid-table" {% endif %}>
                    <td class="col-md-1 standing-center-column">{{ ranking.rank }}</td>
                    <td class="col-md-2 standing-left-column">
                        <div class="standing-player">
                            {% if ranking.player.user is null %}
                                <img src="{{ 'uploads/img/profilePic_default.png' | imagine_filter('avatar_40') }}" alt="profilePic_default.png" />
                            {% else %}
                                <img src="{{ ranking.player.user.pictureWebPath | imagine_filter('avatar_40') }}" alt="{{ ranking.player.user.profilePicture }}" />
                            {% endif %}
                            <strong>{{ ranking.player.name }}</strong>
                        </div>
                    </td>
                    <td class="col-md-1 standing-center-column">{{ ranking.points }}</td>
                    <td class="col-md-1 standing-center-column">{{ ranking.played }}</td>
                    <td class="col-md-1 standing-center-column">{{ ranking.won }}</td>
                    <td class="col-md-1 standing-center-column">{{ ranking.drawn }}</td>
                    <td class="col-md-1 standing-center-column">{{ ranking.lost }}</td>
                    <td class="col-md-1 standing-center-column">{{ ranking.goalsFor }}</td>
                    <td class="col-md-1 standing-center-column">{{ ranking.goalsAgainst }}</td>
                    <td class="col-md-1 standing-center-column">{{ ranking.goalsDiff }}</td>
                    <td class="col-md-1 standing-center-column">{{ ranking.eval|number_format(2, '.') }}</td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
        {% else %}
            <div class="alert alert-warning">Aucun classement trouvé pour le trimestre T0{{ lastStanding.trimester }} {{ lastStanding.year }}</div>
        {% endif %}
    </div>
</div>

{% for matchPlayer in lastResult.matchPlayers %}
<div class="popup" data-popup="popup-{{ matchPlayer.player.id }}">
    <div class="popup-inner popup-mini-inner">
        <div class="popup-inner-scroll">
            <div class="popup-player-header">
                {% if matchPlayer.player.user is null %}
                    <img class="popup-player-pic" src="{{ 'uploads/img/profilePic_default.png' | imagine_filter('avatar_200') }}" alt="{{ matchPlayer.player.name }}" />
                {% else %}
                    <img class="popup-player-pic" src="{{ matchPlayer.player.user.pictureWebPath | imagine_filter('avatar_200') }}" alt="{{ matchPlayer.player.name }}" />
                {% endif %}
                <div class="popup-player-info">
                    <h2><span>{{ matchPlayer.player.name }}</span></h2>
                    <table>
                        <tbody>
                            <tr>
                                <td class="popup-player-label">Age :</td>
                                {% if matchPlayer.player.user is not null %}<td>{{ matchPlayer.player.user.age }} ans</td>
                                {% else %}<td>N.C.</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td class="popup-player-label">Date de naissance :</td>
                                {% if matchPlayer.player.user is not null %}<td>{{ matchPlayer.player.user.birthday|date('d/m/Y') }}</td>
                                {% else %}<td>N.C.</td>
                                {% endif %}
                            </tr>
                            <tr>
                                <td class="popup-player-label">Classement actuel :</td>
                                <td>{{ ranks[matchPlayer.player.id] }}</td>
                            </tr>
                            <tr>
                                <td class="popup-player-label">Série en cours :</td>
                                <td>{{ currentForms[matchPlayer.player.id] }}
                                {% if currentSeries[matchPlayer.player.id] != "" %} ({{ currentSeries[matchPlayer.player.id] }})
                                {% else %}
                                {% endif %}</td>
                            </tr>
                            <tr>
                                <td class="popup-player-label">Bilan complet :</td>
                                <td>{{ globalResults[matchPlayer.player.id] }}</td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
            <a class="popup-close" data-popup-close="popup-{{ matchPlayer.player.id }}" href="#">x</a>
        </div>
    </div>
</div>
{% endfor %}

<script>
    $(function() {
        //----- OPEN
        $('[data-popup-open]').on('click', function(e)  {
            var targeted_popup_class = jQuery(this).attr('data-popup-open');
            $('[data-popup="' + targeted_popup_class + '"]').fadeIn(350);
     
            e.preventDefault();
        });
     
        //----- CLOSE
        $('[data-popup-close]').on('click', function(e)  {
            var targeted_popup_class = jQuery(this).attr('data-popup-close');
            $('[data-popup="' + targeted_popup_class + '"]').fadeOut(350);
     
            e.preventDefault();
        });
    });
</script>

{% endblock %}