{% extends 'foot5x5MainBundle::layout.html.twig' %}
{% set adminMenu = true %}

{% block title %}{{ title }}{% endblock %}

{% block content %}
<h2 class="text-center">{{ block('title') }}</h2>
{% for flashMessage in app.session.flashbag.get('success') %}
<div class="alert alert-success">
    {{ flashMessage }}
</div>
{% endfor %}

{% form_theme noteForm 'foot5x5MainBundle:Form:fields.html.twig' %}

<div class="well">
{{ form_start(noteForm, { 'attr': {'class': 'form-horizontal'} }) }}
    <div class="form-group">
        {{ form_label(noteForm.valAtt, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        {{ form_widget(noteForm.valAtt, { 'attr':  {
            'class': 'form-control',
            'rows': '8'
        }}) }}
    </div>
    <div class="form-group">
        {{ form_label(noteForm.valDef, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        {{ form_widget(noteForm.valDef, { 'attr':  {
            'class': 'form-control',
            'rows': '8'
        }}) }}
    </div>
    <div class="form-group">
        {{ form_label(noteForm.valPhy, null, { 'label_attr':  {
            'class': 'col-sm-4 control-label'
        }}) }}
        {{ form_widget(noteForm.valPhy, { 'attr':  {
            'class': 'form-control',
            'rows': '8'
        }}) }}
    </div>
    <div class="form-group">
        <div class="col-sm-offset-4 col-sm-3">
            <input type="submit" class="btn btn-primary" value="{{ buttonLabel }}" />
        </div>
    </div>
{{ form_end(noteForm) }}
</div>
<script>
    $(function() {
        $( "#foot5x5_mainbundle_note_valAtt_slider" ).slider({
            step: 0.5,
            min: 0,
            max: 10,
            range: "min",
            value: $("#foot5x5_mainbundle_note_valAtt").val(),
            slide: function( event, ui ) {
                $("#foot5x5_mainbundle_note_valAtt").val(ui.value);
            }
        });
        $( "#foot5x5_mainbundle_note_valDef_slider" ).slider({
            step: 0.5,
            min: 0,
            max: 10,
            range: "min",
            value: $("#foot5x5_mainbundle_note_valDef").val(),
            slide: function( event, ui ) {
                $("#foot5x5_mainbundle_note_valDef").val(ui.value);
            }
        });
        $( "#foot5x5_mainbundle_note_valPhy_slider" ).slider({
            step: 0.5,
            min: 0,
            max: 10,
            range: "min",
            value: $("#foot5x5_mainbundle_note_valPhy").val(),
            slide: function( event, ui ) {
                $("#foot5x5_mainbundle_note_valPhy").val(ui.value);
            }
        });
        $("#foot5x5_mainbundle_note_valAtt").val($("#foot5x5_mainbundle_note_valAtt_slider").slider("value"));
        $("#foot5x5_mainbundle_note_valDef").val($("#foot5x5_mainbundle_note_valDef_slider").slider("value"));
        $("#foot5x5_mainbundle_note_valPhy").val($("#foot5x5_mainbundle_note_valPhy_slider").slider("value"));
    });
</script>

{% endblock %}